* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(211, 227, 239);
}

.App {
  max-width: 500px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 20px;

  border: 2px solid;
  border-radius: 5px;

  background-color: aliceblue;
}

.limitWrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  border: 2px solid black;
  border-radius: 10px;
  font-size: 30px;
  box-sizing: border-box;
  margin-bottom: 10px;
  text-align: center;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputTitle {
  display: block;
  font-size: 18px;
  margin-left: 10px;
}

.counterWrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Count {
  width: 100%;
  text-align: center;
  font-size: 48px;
}

.RedCount {
  width: 100%;
  text-align: center;
  font-size: 48px;
  color: red;
}

.ButtonBlock {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  gap: 20px;
}

.Button {
  font-size: 24px;
  padding: 5px 10px;
  margin-top: 10px;
}
